<!doctype html>
<html lang='en'>
    <head>
        <title>grp.space</title>
        <link rel='stylesheet' href='/css/app.css'>
        <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <span class='app-stripe'></span>
        <section class='container-wrapper'>
            <div class='app-content container'>
